@charset "utf-8";
h2 {
  font-size: 32px;
}
img {
  width: 100%;
}
p {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  img {
    width: 100%;
  }
  p {
    font-size: 16px;
  }
}

.lp_wrapper {
  min-width: 320px;
  height: 100%;
  width: 100%;
  background-color: rgba(227, 227, 227, 1);
  display: flex;
  flex-direction: column;
  padding: 70px 30px;
  gap: 30px;
}
.c-banner__path {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 90px;
}
.c-banner__path > p {
  padding: 20px;
  font-size: 12px;
}
.c-banner__titNsubtit {
  text-align: center;
}
.c-banner__titNsubtit > p {
  font-size: 13px;
  font-weight: 500;
}
.c-banner__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.bnr-btn {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.c-banner__imaged {
  display: flex;
  flex-direction: column;
  gap: 36px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.bnr-btn > button {
  background-color: black;
  color: white;
  padding: 20px;
  max-width: 550px;
  width: 100%;
  align-self: center;
  font-size: 18px;
}
.c-card__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 0px 90px 0px;
}
.c-card__wrap-title {
  display: flex;
  gap: 27px;
  padding: 50px 70px;
  align-items: center;
}
.c-card__wrap-title2 {
  display: flex;
  gap: 27px;
  padding: 50px 0px;
  align-items: center;
}
.c-card__wrap-title2 > p {
  font-size: 14px;
}
.line {
  display: flex;
  align-self: center;
  height: 1px;
  width: 25px;
  background-color: black;
}
.c-card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.c-card__cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 0px 70px;
  gap: 50px;
}
.c-left {
  width: 50%;
}
.c-left > img {
  max-width: 600px;
  width: 100%;
}
.c-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card_title > button {
  border: 1px solid black;
  background-color: transparent;
  padding: 5px;
  max-width: 114px;
  width: 100%;
}
.card_title > h2 {
  font-weight: bold;
}
.card_description {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.infos > h2 > span {
  font-size: 18px;
}
.infos > p {
  font-size: 16px;
  font-weight: 500;
}
.card_description > button {
  background-color: black;
  color: white;
  padding: 20px;
  max-width: 550px;
  width: 100%;
  font-size: 18px;
}
.c-order__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 70px 90px 70px;
  align-items: center;
  text-align: center;
}
.c-order__wrapper > p {
  font-size: 20px;
}

.c-order__form {
  display: flex;
  background-color: #d3d3d3;
  color: black;
  max-width: 1000px;
  width: 100%;
  min-height: 1000px;
  height: 100%;
  text-align: center;
  align-self: center;
}
.c-order__form > p {
  align-self: center;
  width: 100%;
  font-size: 20px;
}
.c-order__contact-title {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.c-order__contact-title > button {
  border: 1px solid black;
  padding: 10px 60px;
  font-size: 18px;
}

.c-contact {
  padding: 70px;
}

.c-contact__card-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  gap: 50px;
}
.c-contact__left {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  padding: 50px 0px;
}
.c-contact__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: white;
  width: 50%;
  padding: 50px 0px;
}
.c-contact__right > button {
  border: 1px solid black;
  font-size: 18px;
  padding: 20px 50px;
}
#card_title {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .c-card__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0px 40px;
    gap: 50px;
  }

  .c-left {
    width: 100%;
  }
  .c-right {
    width: 100%;
    margin: 0 auto;
  }

  .c-contact {
    padding: 0px;
  }
  .c-contact__card-wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    gap: 50px;
  }
  .c-contact__card-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 50px;
  }

  .c-contact__left {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 50px 0px;
  }
  .c-contact__right {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 50px 20px;
  }
  .c-card__wrap-title {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 50px 0px;
    align-items: center;
  }

  .c-card__wrap-title2 {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 50px 0px;
    align-items: center;
  }

  .line {
    display: flex;
    align-self: center;
    height: 25px;
    width: 1px;
    background-color: black;
  }

  .c-order__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 30px 90px 30px;
    align-items: center;
    text-align: center;
  }
  .c-banner__imaged > p {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 30px;
  }

  .c-order__contact-title > button {
    border: 1px solid black;
    padding: 25px;
    font-size: 16px;
  }
  .c-contact__right > button {
    border: 1px solid black;
    font-size: 12px;
    padding: 20px 50px;
  }
  .c-left > img {
    max-width: 100%;
    width: 100%;
  }
  .card_description > button {
    background-color: black;
    color: white;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    align-self: center;
    font-size: 18px;
  }
}
